.contact{
    overflow: hidden;
    background: url('../img/kontakt-tlo.png') top center no-repeat;
    position: relative;
    color: #5c068c;
    min-height: 984px;
}

.contact-content{
    max-width: 1280px;
    min-height: 512px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 72px;
}
.contact-boxes{
    max-width: 1280px;
    margin-left: 24px;
    margin-right: 24px;
    min-height: 512px;
    border: 2px solid #751da6;
}
.contact-box{
    width: 504px;
    float: right;
    margin-top: 48px;
    margin-right: 10px;
}
.contact-box h3{
    font-size: 48px;
    line-height: 56px;
    font-weight: 300;
    margin: 0;
    color: #ffffff;
}
.contact-text{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: lighter;
    color: #ffffff;
    margin: 0;
}
.contact-img img{
    position: absolute;
    top: -104px;
    left: 10px;
}
.contact-button{
    margin-top: 72px;
    margin-bottom: 150px;
}
.contact-button-white{
    width: 384px;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.contact-button-white:hover {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}
@media only screen and (max-width:1200px){
    .contact-img img{
        position: absolute;
        top: -104px;
        left: -64px;
    }
    .contact-box{
        width: 400px;
    }
}
@media only screen and (max-width:1024px){
    .contact-img img{
        position: absolute;
        top: -104px;
        left: -64px;
    }
    .contact-box{
        width: 400px;
    }
}

@media only screen and (max-width:960px){
    .contact{
        min-height: 720px;
    }
    .contact-img img{
        max-width: 384px;
        height: auto;
        top: -80px;
        left: -56px;
    }
    .contact-box{
        width: 400px;
    }
}
@media only screen and (max-width:720px){
    .contact-content{
        margin-left: 0px;
        margin-right: 0px;
    }
    .contact-boxes{
        margin-left: 0px;
        margin-right: 0px;
    }
    .contact-img img{
        max-width: 384px;
        height: auto;
        top: -80px;
        left: -144px;
    }

}
@media only screen and (max-width:600px){
    .contact-img img{
       display: none;
    }
    .contact-box{
        float:left;
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media only screen and (max-width:480px){
    .contact-button-white{
        padding: 16px 16px 16px 16px;
    }
    .contact-button-white {
        width: 280px;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 16px;
        line-height: 24px;
    }
}