@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900&subset=latin,latin-ext);
* {
    box-sizing: border-box;
}
body {
	font-family: Roboto;
    background: #5C068C;
	margin: 0 auto;
	font-weight: 300;
}
html {
	scroll-behavior: smooth;
}
/*
top
*/
.top-tlo{
    width:100%;
    height: 96px;
	z-index: 999;
}
.header {
	position:relative;
	height: 96px;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	}

.logo { 
	margin-left: 48px;
	margin-top: 16px;
	max-width: 158px;
	height: 96px;
	display: flex;
	align-items: center;	
	justify-content: left;
}
.logo img{
	max-width: 350x;
	height: auto;
	display: block;
}
	
.page-nav {
	 width:880px;
	 height: 96px;
	 overflow:hidden;
	 margin-right: 48px;
}
.page-menu{
	display: none;
}


.page-menu-list{
	width: 880px;
	height: 96px;
}

.page-nav ul {
	float: right;
    display: flex; 
	flex-direction: row;
	justify-content: space-between;
    position:absolute;
    top:48px;
    list-style: none;
    width:880px;
    padding: 0;
    opacity:1;
    transition: width 1s;
    background-color: inherit; 
}
.page-nav ul li .active{

}
.page-nav ul li {
	font-family: Roboto, Light;
	text-transform: uppercase;
	color: #ffffff;
	display: inline;
	padding-bottom: 0px;
	font-size: 16px;
	line-height: 24px;

}

.page-nav ul li a {
  text-decoration: none;
  color: #ffffff;
}
.page-nav ul li a:hover {
	font-weight: bold;
}
.page-nav ul .active {
	 font-weight: 900;
	 border-bottom: 1px solid #ffffff;
	 height: 24px;
}
ul.menuItem
{
	margin-top:5px;
	display: flex;
	flex-direction: column;
}
.menuItem > li
{
	padding:5px 10px;
	display: block;
}
.top-sklep{
	width: 40px;
	height: 40px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 4px;
	margin-top: -8px;
}
.icon-shop{
	display: none;
}

.menu-store{
	z-index: 3;
}
/*
zmiana języka
*/

.zmianajezyka_linkaktywny {
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	font-size: 15px;
	width:100%;
}
a.zmianajezyka_link {
	color: #000000;
	text-decoration: none;
	font-weight: normal;
	font-size: 15px;
}

a.zmianajezyka_link:hover {
	color: #000000;
}

.zmianajezyka_flaga {
	margin-left: 15px;
	margin-right: 8px;
	width: 15px;
	height: 12px;
}

.zmianajezyka_menurozwijane {
	position: relative;
}

.zmianajezyka_menu {
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
}
.zmianajezyka_lista {
	position: absolute;
	right: 48px;
	top: 40px;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 120px;
	z-index: 9999;
	background-color: #ffffff;
	font-size: 12px;
	display: block;
}
.zmianajezyka_lista ul{
	list-style: none;
	padding:8px 0;
	margin: 0;
}
.zmianajezyka_lista li{
	padding-bottom: 3px;
	width:100%;
}

.zmianajezyka_button_container {
	position: absolute;
	top: 8px;
	right: 48px;
	max-width: 1280px;
	height: 1px;
	margin: 0 auto;
	text-align: right;
	padding-top: 3px;
	padding-right: 10px;
	cursor: pointer;
}

.zmianajezyka_flaga_main {
	margin-left: 10px;
	margin-right: 7px;
	width: 15px;
	height: 12px;
}

.menujezykzmiana {
	width: 100%;
	text-align: left;
}

.menu-mobile-inside {
	padding: 10% 4% 0% 4%;
	background: #f8f8f8;
	border-bottom: 1px solid black;
	border: 1px solid #f8f8f8;
}

.zmianajezyka_lista2 {
	display: block;
	text-align: left;
	width: 200px;
	background: red;
	padding-bottom: 10px;
	z-index: 9999;
	background-color: #f8f8f8;
}

.zmianajezyka_flaga2 {
	margin-left: 33px;
	margin-right: 10px;
}

.zmianajezyka_linkaktywny2 {
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
	font-family: Source Sans Pro;
	font-weight: 600;
	font-size: 12px;
}

a.zmianajezyka_linkaktywny2:hover {
	color: #000000;
	text-decoration: none;
	font-weight: 600;
}

/*
Footer
*/
.footer-container{
	background-color: #5c068c;
}
.footer-content{
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}
.footer-box-logo{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 48px;
}
.footer-logo{
	padding-left: 20px;
}
.footer-menu{
	max-width: 760px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-right: 20px;
}
.footer-menu a{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: #ffffff;
	padding-left: 32px;
	text-transform: uppercase;
	text-decoration: none;
}
.footer-menu a:hover{
	text-transform: uppercase;
	font-weight: bold;
}
.footer-box-producer{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 48px;
}
.footer-product-for{
	width: 248px;
	margin-left: 20px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: #ffffff;
}
.footer-address{
	padding-top: 20px;
	font-size: 16px;
	line-height: 26px;
	color: #c2d4dc;
}
.footer-address span{
	font-weight: bold;
}
.footer-box-page{
	width: 340px;
	padding-left: 10px;
}
.footer-box-page a{
	font-size: 16px;
	line-height: 26px;
	color: #c2d4dc;
	text-transform: uppercase;
	text-decoration: none;

}
.footer-page-link{
	padding-top: 170px;
}
.footer-box-socialmedia {
	width: 302px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 20px;
}
.footer-facebook{
	width: 56px;
	height: 56px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-youtube{
	width: 56px;
	height: 56px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-instagram{
	width: 56px;
	height: 56px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-top{
	width: 56px;
	height: 56px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button-blue-long{
	color: #ffffff;
	height: 60px;
	border-radius: 40px;
	background-color: #00afd7;
	padding: 18px 120px 18px 30px;
	font-size: 22px;
	font-weight: 500;
	cursor: pointer;
	text-decoration: none;
	position: relative;
}
.button-blue-long::after{
	content: url(../img/button-signal-whitelong.png);
	position: absolute;
	right: 30px;
	top: 15px;
}
.stopka{
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}
.stopka p{
	float:right;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.5px;
	font-style: italic;
	color: #ffffff;
	margin: 0;
	padding-right: 20px;
}

@media only screen and (max-width:1200px) {
	.page-nav {
		width:780px;
		height: 96px;
		overflow:hidden;
		margin-right: 24px;
	}
	.page-menu-list{
		width: 780px;
		height: 96px;
	}
	.page-nav ul{
		width: 780px;
	}
	.logo{
		margin-left: 24px;
	}
	.zmianajezyka_button_container {
		right: 24px;
	}
	.zmianajezyka_menu {
		right: 24px;
	}
	.zmianajezyka_lista {
		right: 0px;
	}
	.footer-logo{
		padding-left: 24px;
	}
	.footer-menu{
		padding-left: 10px;
	}
}
@media only screen and (max-width:960px){
	.top-tlo{
		height: 96px;
	}
	.logo {
		height: 96px;
		max-width: 187px;
		margin-left: 24px;
		margin-top: 12px;
	}
	.logo img{
		max-width: 100%;
		height: auto;
	}

	#nav-icon1{
		width: 40px;
		height: 40px;
		position: relative;
		margin: 11px auto;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
	}

	#nav-icon1 span {
		display: block;
		position: absolute;
		height: 2px;
		width: 22px;
		background: #ffffff;
		opacity: 1;
		right: 9px;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	}

	#nav-icon1 span:nth-child(1) {
		top: 0px;
	}

	#nav-icon1 span:nth-child(2) {
		top: 7px;
	}

	#nav-icon1 span:nth-child(3) {
		top: 14px;

	}

	#nav-icon1.open span:nth-child(1) {
		top: 7px;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
		width: 24px;
		height: 3px;
	}

	#nav-icon1.open span:nth-child(2) {
		opacity: 0;
		left: -60px;
	}

	#nav-icon1.open span:nth-child(3) {
		top: 7px;
		-webkit-transform: rotate(-135deg);
		-moz-transform: rotate(-135deg);
		-o-transform: rotate(-135deg);
		transform: rotate(-135deg);
		width: 24px;
		height: 3px;
	}
	.hamburger{
		width:40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		display: block;
		border: 1px solid #ffffff;
		border-radius: 50%;
	}
	.page-menu{
		padding-top: 40px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width:96px;
		height: 40px;
	}

	.page-nav .hamburger {
		display: block;
		overflow:hidden;
		z-index: 3;
	}
	.hamburger{
		cursor: pointer;
	}
	.icon-shop{
		display: block;
		width: 40px;
		height: 40px;
	}
	.icon-menu-shop{
		display: none;
	}
	.top-sklep{
		margin-top: 0px;
	}
	.page-menu-list{

		height: 300px;
	}
	.nav-opened .page-nav{
		background-color: transparent;
	}

	.page-nav ul {
		display: none;
	}
	.page-nav {
		width:96px;
		height:96px;
		margin-right: 24px;

	}
	.page-nav ul li {
		color: #ffffff;
		text-transform: uppercase;
		display: inline;
		padding-bottom: 5px;
		margin-bottom: 10px;
		border-bottom: 0px;
		font-size: 16px;
		text-align: right;
	}


	.page-nav ul li a {
		text-decoration: none;
		color: #ffffff;

	}
	.nav-opened .page-nav ul {
		display: flex;
		flex-direction: column;
		position:absolute;
		top:96px;
		right:0;
		width: 50%;
		list-style: none;
		color:#ffffff;
		opacity: 1;
		margin:0;
		padding-top:10px;
		padding-right: 20px;
		padding-left: 20px;
		background-color: #751da6;
		z-index:100;
	}

	.page-nav ul .active {
		font-weight: 900;

	}
	ul.menuItem
	{
		margin-right: 100px;
	}
	.menuItem > li
	{

	}
	.page-nav ul .menuItem {
		margin-right: 100px;
		margin-top: 40px;
	}
	.footer-menu{
		justify-content: flex-end;
	}

}
@media only screen and (max-width:720px){
	.footer-menu{
		max-width: 240px;
		flex-flow: column;
		text-align: right;
	}
	.footer-menu a{
		padding-bottom: 16px;
	}
	.stopka p{
		float: left;
		padding-left: 20px;
		margin-top:-40px;
	}
}
@media only screen and (max-width:600px) {
	.nav-opened .page-nav ul {
		width: 70%;
	}
	.footer-box-logo{
		flex-direction: column;
		justify-content: center;
	}
	.footer-logo{
		padding: 0;
		text-align: center;
	}
	.footer-box-socialmedia{
		margin-left: auto;
		margin-right: auto;
		margin-top: 48px;
	}
	.footer-menu{
		max-width: 600px;
		flex-flow: wrap;
		text-align: unset;
		padding: 0;
		margin-left: 20px;
		margin-right: 20px;
		justify-content: space-between;
		margin-bottom: 48px;
	}
	.footer-menu a{
		width: 196px;
		padding: 0;
		margin: 0;
	}
	.footer-box-producer{
		flex-direction: column-reverse;
	}
	.footer-product-for{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.stopka p{
		float: unset;
		text-align: center;
		padding-left: 0px;
		margin-top:32px;
	}
}
@media only screen and (max-width:480px) {
	.nav-opened .page-nav ul {
		width: 90%;
	}
	.footer-menu a{
		width: 152px;
		padding: 0;
		margin: 0;
		font-size: 12px;
		line-height: 24px;
		letter-spacing: 0.5px;
	}
}