#component{
    overflow: hidden;
    background: url('../img/hair-tlo.png') top center no-repeat;
    height: 900px;
}
.hair2-content{
    max-width: 1280px;
    min-height: 584px;
    margin-left: auto;
    margin-right: auto;

}
.hair2-boxes{
    max-width: 1280px;
    margin-left: 24px;
    margin-right: 24px;
    border: 2px solid #751da6;
}
.hair2-box-text{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 48px;
    padding-bottom: 48px;
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    letter-spacing: 0.5px;
}
.hair2-box-text h4{
    color: #ffffff;
    font-size: 34px;
    line-height: 48px;
    font-weight: 300;
    letter-spacing: 0.25px;
    margin:0;
    padding-bottom: 24px;
}
.hair3{
    position: relative;
}
.hair3-line{
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    top: 212px;
}
.hair3-content{
    max-width: 1200px;
    min-height: 424px;
    margin-left: auto;
    margin-right: auto;
}
.hair3-box{
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
}
.hair3-icon-box{
    width: 296px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 99;
}
.hair3-icon-box div{
    text-align: center;
}
.hair3-icon-box div img{
    border-radius: 50%;
    border: 2px solid #ffffff;
}
.hair3-box-text{
    text-align: center;
    padding-top: 48px;
    padding-bottom: 25px;
    font-size: 24px;
    color: #ffffff;
    line-height: 32px;
}
@media only screen and (max-width:1200px){
    .hair2-box-text {
        margin-left: 60px;
        margin-right: 60px;
    }
}
@media only screen and (max-width:960px){
    .hair3-icon-box{
        width: 560px;
        flex-direction: row ;
        justify-content: space-between ;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 48px;
    }
    .hair3-box-text{
        width: 200px;
        text-align: left;
        padding-top: 148px;
        padding-right: 0px;
        padding-bottom: 0px;
    }
    .hair3-icon-box div{
        text-align: left;
    }
    .hair3-line{
        display: none;
    }
}
@media only screen and (max-width:720px){
    .hair2-content{
        margin-left: 0px;
        margin-right: 0px;
    }
    .hair2-boxes{
        margin-left: 0px;
        margin-right: 0px;
    }
    .hair2-box-text{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media only screen and (max-width:600px){
    .hair2-box-text h4{
        font-size: 24px;
        line-height: 36px;
        font-weight: 300;
    }
    .hair3-icon-box{
        width: 296px;
        flex-direction: column ;
        justify-content: center ;
        margin-left: 20px;
        margin-right: 20px;
    }
    .hair3-box-text{
        width: 296px;
        text-align: center;
        padding-top: 48px;
    }
    .hair3-icon-box div{
        text-align: center;
    }
}
@media only screen and (max-width:480px) {

}