#main{
    overflow: hidden;
	background: url('../img/component-main.png') top right no-repeat;
	position: relative;
}
.main1-content{
	max-width: 1280px;
	min-height: 1232px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: #ffffff;
	font-weight: 300;
	position: relative;
}
.main1-img{
	width: 408px;
	height: 808px;
	position: absolute;
	top: 32px;
	left: 700px;
}
.main1-text{
	max-width: 510px;
	position: relative;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.5px;
	margin-left: 104px;
}
.main1-text h4{
	font-size: 34px;
	line-height: 48px;
	font-weight: 300;
	letter-spacing: 0.25px;
}
.main1-text h3{
	padding-top: 122px;
	font-size: 48px;
	line-height: 56px;
	font-weight: bold;
	letter-spacing: 0.5px;
}
.main1-przypis{
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.5px;
}
.main2-content{
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	min-height: 1000px;
	margin-top: -400px;
}
.main2-boxes{
	max-width: 1280px;
	margin-left: 24px;
	margin-right: 24px;
	border: 2px solid #751da6;
	background: url('../img/main1-hair.png') top center no-repeat;
}
.main2-text, .main3-text{
	color: #ffffff;
	font-size: 34px;
	line-height: 48px;
	font-weight: 300;
	letter-spacing: 0.25px;
	text-align: center;
	padding-top: 75px;
}
.main2-box{
	max-width: 1024px;
	margin-right: auto;
	margin-left: auto;
}
.main2-icon-boxes{
	padding-top: 75px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left: 0px;
	margin-right: 0px;
}
.main2-icon-box{
	width: 288px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 24px;
}
.main2-icon-box div{
	text-align: center;
}
.main2-icon4{
	margin-left: 18%;
}
.main2-icon5{
	margin-right: 18%;
}
.main2-box-text{
	min-height: 120px;
	margin-top: 48px;
	margin-bottom: 25px;
	font-size: 16px;
	font-weight: 300;
	color: #ffffff;
	line-height: 24px;
	letter-spacing: 0.5px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
}
.main2-box-text p{
	position: absolute;
	top: 0;
	text-align: center;
}
.main2-przypis, .main3-przypis{
	color: #ffffff;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.5px;
	font-weight: 300;
	margin-top: -48px;
	padding-bottom: 48px;
}
.main3-content {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	min-height: 764px;
}
.main3-boxes {
	max-width: 1280px;
	margin-left: 24px;
	margin-right: 24px;
	border-left: 2px solid #751da6;
	border-right: 2px solid #751da6;
}
.main3-box{
	max-width: 1024px;
	margin-right: auto;
	margin-left: auto;
}
.main3-icon-boxes{
	max-width: 1024px;
	padding-top: 75px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}
.main3-icon-box{
	width: 220px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-right: 10px;
	margin-bottom: 48px;
}
.main3-icon-box div{
	text-align: center;
}
.main3-box-text{
	text-align: center;
	padding-top: 48px;
	padding-bottom: 25px;
	font-size: 16px;
	color: #ffffff;
	line-height: 24px;
	font-weight: 300;
	letter-spacing: 0.5px;
}
.main3-icon5{
	margin-left: 10%;
}
.main3-icon7{
	margin-right: 10%;
}
.main4-content {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	min-height: 632px;
	position: relative;
}
.main4-boxes{
	max-width: 1280px;
	min-height: 650px;
	margin-left: 24px;
	margin-right: 24px;
	border: 2px solid #751da6;
	background: url('../img/main4-tlo.png') top center no-repeat;
}
.main4-box{
	max-width: 1024px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
.main4-box-text{
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 88px;
}
.main4-box-text h4{
	color: #ffffff;
	font-size: 34px;
	line-height: 48px;
	font-weight: 300;
	letter-spacing: 0.25px;
	padding-top: 72px;
	margin:0;
	padding-bottom: 8px;
}
.main4-box-text p{
	color: #ffffff;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	letter-spacing: 0.5px;
	padding:16px 0 0 0;
	margin: 0;
	z-index: 99;
}
.main4-img img{
	position: absolute;
	top: 80px;
	right: 24px;
}
.main4-img-resp {
	display: none;
}
.line-img{
	height: 8px;
	border-bottom: 1px solid #ffffff;
}
.main5{
	margin-top: -200px;
	background: url('../img/main5-tlo.png') top center no-repeat;
	min-height: 1000px;
}
.main5-content{
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.main5-boxes{
	max-width: 1280px;
	margin-left: 24px;
	margin-right: 24px;
}
.main5-box{
	max-width: 1024px;
	margin-right: auto;
	margin-left: auto;
}
.main5-box-text{
	max-width: 340px;
	margin-top: 240px;
	margin-right: 10px;
	float: right;
}
.main5-box-text h3{
	color: #ffffff;
	font-size: 48px;
	line-height: 56px;
	letter-spacing: 0.5px;
	font-weight: 300;
	padding-bottom: 24px;
}
.main5-box-text h4{
	color: #ffffff;
	font-size: 34px;
	line-height: 48px;
	letter-spacing: 0.25px;
	font-weight: bold;
	padding-bottom: 24px;
}
.main5-img img{
	position: absolute;
	top: 184px;
	left: 64px;
}
.main5-button-buy{
	padding-top: 20px;

}
.main5-button-leaflet{
	margin-top: 24px;

}
.button-white{
	width: 300px;
	display: block;
	margin:0;
	color: #5c068c;
	background-color: #ffffff;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	cursor: pointer;
	text-decoration: none;
	position: relative;
	text-transform: uppercase;
}
.button-white:hover {
	color: #751da6;;
	text-decoration: none;
	font-weight: bold;
}
.button-dark{
	width: 300px;
	display: block;
	color: #ffffff;
	height: 58px;
	border: 1px solid #ffffff;
	padding: 16px 64px 16px 64px;
	font-size: 16px;
	font-weight: 300;
	cursor: pointer;
	text-decoration: none;
	position: relative;
	text-align: center;
	background-color: transparent;
}
.button-dark:hover {
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
}
@media only screen and (max-width:1200px){
 	.main1-text{
		max-width: 400px;
	}
	.main1-img img{
		left: 600px;
	}
	.main4-box-text{
		max-width: 1280px;

	}
	.main4-img img {
		right: 24px;
	}

	.main2-box{
		margin-right: 60px;
		margin-left: 60px;
	}
	.main2-icon4{
		margin-left: 10px;
	}
	.main2-icon5{
		margin-right: 10px;
	}
	.main2-icon-boxes{
		justify-content: center ;
	}
	.main2-icon-box{
		margin-left: 0px;
		margin-right: 0px;
	}
	.main3-box{
		margin-right: 60px;
		margin-left: 60px;
	}
	.main3-icon-box{
		width: 188px;
	}
	.main4-box{
		margin-right: 60px;
		margin-left: 60px;
	}
	.main5-box {
		margin-right: 60px;
		margin-left: 60px;
	}
 }
@media only screen and (max-width:1024px) {
	.main2-icon-boxes {
		justify-content: space-around ;
	}
	.main3-icon5{
		margin-left: 0%;
	}
	.main3-icon7{
		margin-right: 0%;
	}
	.main4-img img {
		right: 16px;
	}
}
@media only screen and (max-width:960px){
	.main1-content{
		flex-direction: column;
		min-height: 1424px;
	}
	.main1-text{
		max-width: 100%;
		margin-left: 60px;
		margin-right: 60px;
		padding-bottom: 24px;
		margin-bottom: 24px;
	}
	.main1-text h3{
		padding-top: 24px;
	}
	.main1-img{
		position: static;
		display: block;
		width: 240px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
	.main1-img img{
		max-width: 100%;
		height: auto;
	}
	.main3-icon-box{
		width: 176px;
	}
	.main4-box-text{
		max-width: 920px;

	}
	.main4-img img{
		right: -232px;
	}
	.main4-box-text h4 {
		font-size: 24px;
		line-height: 36px;
		letter-spacing: 0;
	}
}
@media only screen and (max-width:720px){
	.main1-text{
		margin-left: 20px;
		margin-right: 20px;
	}
	.main2-content{
		margin-left: 0px;
		margin-right: 0px;
	}
	.main2-boxes{
		margin-left: 0px;
		margin-right: 0px;
	}
	.main2-box{
		margin-left: 20px;
		margin-right: 20px;
	}
	.main2-icon-boxes{
		justify-content: space-around;
	}
	.main2-icon-box{
		width: 260px;
	}
	.main2-icon-box img{
		width: 160px;
		height: auto;
	}
	.main3-content{
		margin-left: 0px;
		margin-right: 0px;
	}
	.main3-boxes{
		margin-left: 0px;
		margin-right: 0px;
	}
	.main3-box{
		margin-left: 20px;
		margin-right: 20px;
	}
	.main4-content{
		margin-left: 0px;
		margin-right: 0px;
	}
	.main4-boxes{
		margin-left: 0px;
		margin-right: 0px;
	}
	.main4-box{
		margin-left: 20px;
		margin-right: 20px;
	}
	.main4-box-text{
		max-width: 920px;
		margin-left: 0px;
		margin-right: 0px;
	}
	.main4-box-text h4{
		font-size: 24px;
		line-height: 36px;
		font-weight: 300;
	}
	.main4-img-resp img{
		position: absolute;
		top: 162px;
		right: -156px;
		opacity: 1.0;
	}
	.main4-img {
		display: none;
	}
	.main4-img-resp {
		display: block;
	}
	.main5{
		margin-top: 0px;
		background: url('../img/main5-tlo.png') top left no-repeat;
		min-height: 800px;
	}
	.main5-boxes{
		margin-left: 0px;
		margin-right: 0px;
	}
	.main5-box{
		margin-left: 20px;
		margin-right: 20px;
	}
	.main5-img img{
		width: 96px;
		height: 363px;
		top:24px;
		left: calc(50% - 48px);
	}
	.main5-box-text{
		padding-top: 384px;
		padding-bottom: 72px;
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	.main5-box-text h3 {
		text-align: center;
	}
	.main5-button-box{
		display: flex;
		justify-content: center;
		flex-direction: row;
	}
}
@media only screen and (max-width:600px){
	.main1-content{
		min-height: 1300px;
	}
	.main1-img{
		width: 183px;
	}
	.main1-text h4{
		font-size: 24px;
		line-height: 32px;
		font-weight: 300;
	}
	.main1-text h3{
		padding-top: 24px;
		font-size: 34px;
		line-height: 48px;
		font-weight: 300;
		letter-spacing: 0.25px;
	}
	.main2-icon-box{
		width: 216px;
	}
	.main3-icon-box{
		width: 180px;
	}
	.main4-img-resp img{
		right: -164px;
		opacity: 0.5;
	}
}
@media only screen and (max-width:480px) {
	.main1-content{
		min-height: 1400px;
	}
	.main2-icon-box{
		width: 152px;
	}
	.main2-icon-box img{
		width: 136px;
		height: auto;
	}
	.main4-box-text h4{
		font-size: 18px;
		line-height: 26px;
		font-weight: 700;
	}
	.main3-icon-boxes{
		justify-content: space-between;
	}
	.main3-icon-box{
		width: 136px;
	}
	.main3-icon7{
		width: 100%;
	}
	.main5-box-text h3{
		font-size: 34px;
		line-height: 48px;
		letter-spacing: 0.25px;
	}
	.main4-img-resp img{
		right: -164px;
		top: 144px;
	}
@media only screen and (max-width:360px) {
	.main4-img-resp img{
		right: -164px;
		top: 176px;
	}
	.main1-content{
		min-height: 1464px;
	}
}