html {
    scroll-behavior: smooth;
}
#composition1{
    overflow: hidden;
    background: url('../img/composition1-tlo.png') top left no-repeat;
}
.composition1-content{
    max-width: 1200px;
    min-height: 584px;
    margin-left: auto;
    margin-right: auto;
}
.composition1-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
}
.composition1-content h3{
    color: #ffffff;
    font-size: 48px;
    line-height: 56px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin:0;
    text-align: center;
    padding-top: 104px;
    padding-bottom: 48px;
}
.composition1-icon-box{
    width: 384px;
    display: flex;
    flex-direction: column;
}
.composition1-icon-box a{
    text-decoration: none;
}
.composition1-button-step{
    border: 1px solid #ffffff;
    border-radius: 8px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    width: 216px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}
.composition1-button-step:hover{
    font-weight: bold;
    text-decoration: none;
}
.composition1-box-text{
    color: #ffffff;
    font-size: 34px;
    line-height: 48px;
    font-weight: 300;
    letter-spacing: 0.25px;
    margin:0;
    text-align: center;
    padding-top: 48px;
}
#component2-content{
    max-width: 1280px;
    min-height: 584px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
.component2-menu{
    display: flex;
    flex-direction: row;
    padding-bottom: 32px;
    padding-left: 20px;
    padding-right: 20px;
}
.component2-menu a{
    text-decoration: none;
}

.component2-step1, .component2-step2, .component2-step3{
    border: 1px solid #ffffff;
    border-radius: 8px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    width: 216px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.component2-step2{
    width: 150px;
    border-left: none;
    border-radius: 0 8px 8px 0;
    margin-left: -4px;
    opacity: 0.5;
}
.component2-step2:hover{
   opacity: 1.0;
}
.component2-step3{
    width: 150px;
    border-left: none;
    border-radius: 0 8px 8px 0;
    margin-left: -4px;
    opacity: 0.5;
}
.component2-step3:hover{
    opacity: 1.0;
    text-decoration: none;
}
.component2-break{
    border-right: 1px solid #ffffff;
    border-radius: 0 8px 8px 0;
    width: 8px;
    height: 54px;
    opacity: 0.5;
}
.component2-boxes, .component3-boxes, .component4-boxes, .composition5-boxes {
    max-width: 1280px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: #5c068c;
    border: 2px solid #751da6;
}
.component2-boxes {

    border-bottom: 0px;
}

.composition6-boxes{
    max-width: 1280px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: #751da6;
    border: 2px solid #751da6;
}
.component2-boxes2{
    max-width: 1280px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: #751da6;
    border: 2px solid #751da6;
    position: relative;
}
.component2-boxes-img{
    background: url('../img/component-step1.png') center center no-repeat;
    max-width: 1280px;
    margin-left: 24px;
    margin-right: 24px;
    border: 2px solid #751da6;
    border-bottom: 0px solid #751da6;
    height: 394px;
}
.component2-img img{
    width: 100%;
}
.component2-text {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    padding-bottom: 24px;
}
.component2-text h5{
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    font-weight: 300;
    padding-top: 56px;
    padding-bottom: 32px;
}
.component2-text ul{
    margin-top: 16px;
    margin-bottom: 24px;
    margin-left: -24px;
    list-style-image: url('../img/tick-b.png');
}
.component2-phrase-first{
    position: relative;
}
.component2-icon-info{
    position: absolute;
    left: -48px;
    top: 0px;
    color: #ffffff;
    background-color: #751da6;
    font-size: x-large;
}
.component2-text2{
    padding-top: 64px;
    padding-bottom: 64px;
}
.component2-text2 ul{
    margin-top: 16px;
    margin-bottom: 24px;
    margin-left: -24px;
    list-style-image: url('../img/tick-b.png');
}
#component3-content{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
.component3-menu{
    display: flex;
    flex-direction: row;
    padding-bottom: 32px;
    padding-left: 20px;
    padding-right: 20px;
}
.component3-step1, .component3-step2, .component3-step3{
    border: 1px solid #ffffff;
    border-radius: 8px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    width: 216px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.component3-step1{
    width: 150px;
    border-right: none;
    border-radius: 8px 0 0 8px;
    opacity: 0.5;
}
.component3-step1:hover{
    opacity: 1.0;
}
.component3-step2{
}
.component3-step3{
    width: 150px;
    border-left: none;
    border-radius: 0 8px 8px 0;
    margin-left: -4px;
    opacity: 0.5;
}
.component3-step3:hover{
    opacity: 1.0;
}
.component3-break1{
    border-left: 1px solid #ffffff;
    border-radius: 8px 0 0 8px;
    width: 8px;
    height: 54px;
    opacity: 0.5;
    margin-left: -4px;
}
.component3-break2{
    border-right: 1px solid #ffffff;
    border-radius: 0 8px 8px 0;
    width: 8px;
    height: 54px;
    opacity: 0.5;
}
.component3-text {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}
.component3-boxes-img{
    background: url('../img/steps-brushing.png') center center no-repeat;
    max-width: 1280px;
    margin-left: 24px;
    margin-right: 24px;
    border: 2px solid #751da6;
    border-bottom: 0px solid #751da6;
    height: 394px;
}
.component3-img{
    width: 100%;
    height: auto;
}
.component3-img img{
    width: 100%;
}
.component3-text h5{
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    font-weight: bold;
    padding-top: 56px;
    padding-bottom: 32px;
}
.component3-przypis{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    padding-top: 24px;
    padding-bottom: 56px;
}
#component4-content{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    z-index: -1;
}
.component4-menu{
    display: flex;
    flex-direction: row;
    padding-bottom: 32px;
    padding-left: 20px;
    padding-right: 20px;
}
.component4-step1, .component4-step2, .component4-step3{
    border: 1px solid #ffffff;
    border-radius: 8px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    width: 216px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.component4-step1{
    width: 150px;
    border-right: none;
    border-radius: 8px 0 0 8px;
    opacity: 0.5;
}
.component4-step1:hover{
    opacity: 1.0;
}
.component4-step2{
    width: 150px;
    border-right: none;
    border-radius: 8px 0 0 8px;
    opacity: 0.5;
}
.component4-step2:hover{
    opacity: 1.0;
}
.component4-step3{
 }
.component4-break1{
    border-left: 1px solid #ffffff;
    border-radius: 8px 0 0 8px;
    width: 8px;
    height: 54px;
    opacity: 0.5;
    margin-left: -4px;
}
.component4-break2{
    border-left: 1px solid #ffffff;
    border-radius: 8px 0 0 8px;
    width: 8px;
    height: 54px;
    opacity: 0.5;
    margin-left: -4px;
}
.component4-boxes-img{
    background: url('../img/steps-hair.png') center 15% no-repeat;
    max-width: 1280px;
    margin-left: 24px;
    margin-right: 24px;
    border: 2px solid #751da6;
    border-bottom: 0px solid #751da6;
    height: 394px;
}
.component4-img{
    width: 100%;
    height: auto;
}
.component4-img img{
    width: 100%;
}
.component4-text {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    padding-bottom: 32px;
}
.component4-text h5{
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    font-weight: 300;
    padding-top: 56px;
    padding-bottom: 32px;
}
.component4-text div{
    padding-bottom: 24px;
}
.composition3-content{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.composition3-content h3{
    color: #ffffff;
    font-size: 48px;
    line-height: 56px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin:0;
    text-align: center;
    padding-top: 144px;
    padding-bottom: 48px;
}
.composition3-content div {
    text-align: center;
}
.composition3{
    overflow: hidden;
    background: url('../img/component2-tlo.png') center center no-repeat;
    min-height: 710px;
}
.composition-bottle-left{
    position: absolute;
    top: 8px;
    left: 10px;
    z-index: 99;

}
.composition-bottle-right{
    position: absolute;
    top: 8px;
    right: 10px;
}
.composition4{
    background-color: #5c068c;
    min-height: 704px;
}
.composition4-content{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    min-height: 704px;
    margin-top: -100px;
    }
/*.composition4-left{
    background: url('../img/hair-compare-old.png') 24% 0% no-repeat;
    width: 60%;
    border-right: 2px solid #ffffff;
    z-index: 99;
    }
.composition4-right{
    background: url('../img/hair-compare-new.png') 65% 0% no-repeat;
    width: 40%;
}
.composition4-effects-circle{
    position: absolute;
    top: 400px;
    left: 57%;
    z-index: 99;
}
*/
.composition4-left-text{
    max-width: 472px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    padding-left: 20px;
    padding-top: 96px;
}
.composition4-left-text h3{
    color: #ffffff;
    font-size: 48px;
    line-height: 56px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin:0;
    padding-bottom: 8px;
}
.composition4-kropla{
    position: absolute;
    top: 440px;
    left: 20px;
}
.composition5-img{
    width: 100%;
    height: auto;
}
.composition5-img img{
    width: 100%;
}
.composition5-boxes-img{
    background: url('../img/steps-nails.png') center center no-repeat;
    max-width: 1280px;
    margin-left: 24px;
    margin-right: 24px;
    border: 2px solid #751da6;
    border-bottom: 0px solid #751da6;
    height: 394px;
}
.composition5-content{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.composition5-text{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}
.composition5-text h5{
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    font-weight: 300;
    padding-top: 56px;
    padding-bottom: 32px;
}
.composition5-text div{
    padding-bottom: 24px;
}
.composition5-text div:last-child{
    padding-bottom: 48px;
}
.composition6-content {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:64px;
}
.composition6-text{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-size: 20px;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
    font-weight: 300;
    padding-bottom: 24px;
}
.composition6-text {
    padding-top: 64px;
}
.composition6-przypis{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}
.composition6{
 }
.composition6-table table{
    width: 736px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 48px;
}
.composition6-table table tr th{
    text-align: left;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 8px;
    padding-top: 8px;
    font-weight: 300;
}
.composition6-table table tr td{
    text-align: left;
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 8px;
    padding-top: 8px;
    font-weight: 300;
}
.composition6-text div{
    padding-bottom: 24px;
}

@media only screen and (max-width:1200px){
    .composition1-icon-box{
        width: 312px;
    }
    .composition1-box-text{
        font-size: 24px;
        line-height: 36px;
        padding-top: 24px;
    }
    .component2-text {
        max-width: 800px;
    }
    .composition4-left-text{
        padding-top: 640px;
        max-width: 482px;
    }
    .composition4-content{
        min-height: 920px;
    }
    .composition4-kropla{
        top: 680px;
        right: 20px;
        left: unset;
    }
    .component2-text{
        margin-left: 60px;
        margin-right: 60px;
    }
    .component2-text2{
        margin-left: 60px;
        margin-right: 60px;
    }
    .component3-text{
        margin-left: 60px;
        margin-right: 60px;
    }
    .component4-text{
        margin-left: 60px;
        margin-right: 60px;
    }
    .composition5-text{
        margin-left: 60px;
        margin-right: 60px;
    }
    .composition6-text{
        margin-left: 60px;
        margin-right: 60px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
}
@media only screen and (max-width:1024px){
    .composition1-icon-box{
        width: 312px;
    }

}

@media only screen and (max-width:960px){
    .composition1-box{
        justify-content: center;
        padding-bottom: 48px;
    }
    .composition1-icon-box{
        width: 100%;
    }
    .composition1-box-text{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .composition-bottle-left{
        display: none;
    }
    .composition-bottle-right{
        display: none;
    }
    .composition6-table table {
        width: 600px;
    }
}
@media only screen and (max-width:720px){
    .component2-img{
        margin-left: 0px;
        margin-right: 0px;
    }
    .component2-content{
        margin-left: 0px;
        margin-right: 0px;
    }
    .component2-boxes{
        margin-left: 0px;
        margin-right: 0px;
    }
    .component2-boxes-img{
        margin-left: 0px;
        margin-right: 0px;
    }
    .component2-text {
        margin-left: 20px;
        margin-right: 20px;
    }
    .component2-boxes2{
        margin-left: 0px;
        margin-right: 0px;
    }
    .component2-box-text2{
        margin-left: 0px;
        margin-right: 0px;
    }
    .component2-text2{
        padding-top: 32px;
        padding-bottom: 32px;
        margin-left: 60px;
        margin-right: 20px;
    }
    .component3-img{
        margin-left: 0px;
        margin-right: 0px;
    }
    .component3-content{
        margin-left: 0px;
        margin-right: 0px;
    }
    .component3-boxes{
        margin-left: 0px;
        margin-right: 0px;
    }
    .component3-boxes-img{
        margin-left: 0px;
        margin-right: 0px;
    }
    .component3-text {
        margin-left: 20px;
        margin-right: 20px;
    }
    .component4-img{
        margin-left: 0px;
        margin-right: 0px;
    }
    .component4-text {
        margin-left: 20px;
        margin-right: 20px;
    }
    .composition3-content h3{
        font-size: 34px;
        line-height: 48px;
        letter-spacing: 0.25px;
    }
    .component4-content{
        margin-left: 0px;
        margin-right: 0px;
    }
    .component4-boxes{
        margin-left: 0px;
        margin-right: 0px;
    }
    .component4-boxes-img{
        margin-left: 0px;
        margin-right: 0px;
    }
    .component4-text{
        margin-left: 20px;
        margin-right: 20px;
    }
    .composition5-img{
        margin-left: 0px;
        margin-right: 0px;
    }
    .composition5-text{
        margin-left: 20px;
        margin-right: 20px;
    }
    .composition5-content{
        margin-left: 0px;
        margin-right: 0px;
    }
    .composition5-boxes{
        margin-left: 0px;
        margin-right: 0px;
    }
    .composition5-boxes-img{
        margin-left: 0px;
        margin-right: 0px;
    }
    .composition6-content{
        margin-left: 0px;
        margin-right: 0px;
    }
    .composition6-boxes{
        margin-left: 0px;
        margin-right: 0px;
    }
    .composition6-text{
        margin-left: 20px;
        margin-right: 20px;
    }
    .composition6-table table {
        width: 560px;
    }
}
@media only screen and (max-width:600px){
    .composition1-content h3{
        font-size: 34px;
        line-height: 48px;
        font-weight: 300;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .composition6-table table {
        width: 600px;
    }
    .composition6-table table {
        width: 440px;
    }
    .composition4-kropla{
        display: none;
    }
    .component2-boxes-img {
        background: url('../img/component-step1-small.png') center center no-repeat;
        height: 248px;
    }
    .component3-boxes-img {
        background: url('../img/steps-brushing-small.png') center center no-repeat;
        height: 248px;
    }
    .component4-boxes-img {
        background: url('../img/steps-hair-small.png') center 15% no-repeat;
        height: 248px;
    }
    .composition5-boxes-img{
        background: url('../img/steps-nails-small.png') center center no-repeat;
        height: 248px;
    }
}
@media only screen and (max-width:480px){
    .composition1-content h3{
        font-size: 24px;
        line-height: 36px;
    }
    .composition6-table table {
        width: 320px;
    }
    .composition4-left-text h3 {
        color: #ffffff;
        font-size: 34px;
        line-height: 48px;
        letter-spacing: 0.25px;
    }
    .component2-step1{
        width: 120px;
    }
    .component2-step2{
        width: 100px;
    }
    .component2-step3{
        width: 100px;
    }
    .component3-step1{
        width: 100px;
    }
    .component3-step2{
        width: 120px;
    }
    .component3-step3{
        width: 100px;
    }
    .component4-step1{
        width: 100px;
    }
    .component4-step2{
        width: 100px;
    }
    .component4-step3{
        width: 120px;
    }
}
