#desc1{
    overflow: hidden;
    background: url('../img/desc1-tlo.png') top center no-repeat;
    min-height: 1000px;
}
.desc1-content{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.desc1-boxes{
    max-width: 1280px;
    margin-left: 24px;
    margin-right: 24px;
}
.desc1-box{
    max-width: 616px;
    float: right;
    padding-top: 256px;
    margin-right: 20px;
}
.desc1-box h3{
    color: #ffffff;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.5px;
    font-weight: 300;
    margin: 0;
}
.desc1-text{
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    letter-spacing: 0.5px;
}
.desc2-content{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.desc2-box{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.desc2-boxes{
    max-width: 1280px;
    margin-left: 24px;
    margin-right: 24px;
    border: 2px solid #751da6;
    background-color: #5c068c;
}
.desc2-img{
    width: 100%;
   }
.desc2-img img{
    width: 100%;
    height: auto;
}
.desc2-box1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.desc2-box1 span{
    width: 33%;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    text-align: center;
}
.desc2-text{
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 56px;
}
.desc2-box3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    margin-top: 24px;
    position: relative;
}
.desc2-box3-left, .desc2-box3-right{
    width: 49%;
    position: relative;
}
.desc2-box3-left{
    border-right: 1px solid #ffffff;
}
.desc2-left-text{
    max-width: 464px;
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    letter-spacing: 0.25px;
    text-align: right;
}
.desc2-right-text{
    max-width: 464px;
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    letter-spacing: 0.25px;
    text-align: left;
    float: right;
}
.step1{
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    position: absolute;
    top: 24px;
    border-radius: 50%;
    right: -12px;
}
.step2{
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    position: absolute;
    top: 160px;
    border-radius: 50%;
    left: -12px;
}
.step3{
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    position: absolute;
    top: 0px;
    border-radius: 50%;
    right: -12px;
}
.phase1{
    padding-top: 24px;
}
.phase2{
     padding-top: 160px;       
}
.phase3{
    padding-top: 0px;
    padding-bottom: 24px;
}
.desc3-content{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

}
.desc3-boxes{
    max-width: 1280px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: #751da6;
    border: 2px solid #751da6;
}
.desc3-content h5{
    font-size: 24px;
    color: #ffffff;
    line-height: 36px;
    text-align: left;
    margin: 0;
    font-weight: 300;
    padding-top: 56px;
}
.desc3-content-img{
    width: 100%;
}
.desc3-content-img img{
    width: 100%;
    height: auto;
}
.desc3-box{
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
}
.desc3-box-composition{
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    position: relative;
}
.comp1{
    border-bottom: 1px solid #ffffff;
    padding-top: 16px;
    padding-bottom: 8px;
    width: 60%;
}
.comp1-height{
    position: absolute;
    background-color: #ffffff;
    height: 142px;
    width: 1px;
    left: 60%;
    bottom: 147px;
}
.comp2{
    border-bottom: 1px solid #ffffff;
    padding-top: 16px;
    padding-bottom: 8px;
    width: 78%;
}
.comp2-height{
    position: absolute;
    background-color: #ffffff;
    height: 192px;
    width: 1px;
    left: 78%;
    bottom: 98px;
}
.comp3{
    border-bottom: 1px solid #ffffff;
    padding-top: 16px;
    padding-bottom: 8px;
    width: 85%;
}
.comp3-height{
    position: absolute;
    background-color: #ffffff;
    height: 240px;
    width: 1px;
    left: 85%;
    bottom: 49px;
}
.comp4{
    border-bottom: 1px solid #ffffff;
    padding-top: 16px;
    padding-bottom: 8px;
    width: 88.5%;
}
.comp4-height{
    position: absolute;
    background-color: #ffffff;
    height: 286px;
    width: 1px;
    left: 88.5%;
    bottom: 0px;
}
.desc3-box-text{
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    padding-top: 48px;
    padding-bottom: 24px;
}
.desc3-box-text div{
    padding-bottom: 24px;
}    
.desc4-content{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.desc4-boxes{
    max-width: 1280px;
    margin-left: 24px;
    margin-right: 24px;
    background-color:#5c068c;
    border: 2px solid #751da6;
}
.desc4-text-h5{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.desc4-content h5{
    font-size: 24px;
    color: #ffffff;
    line-height: 36px;
    text-align: left;
    margin: 0;
    font-weight: 300;
    padding-top: 64px;
    padding-bottom: 40px;
}
.desc4-text{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    padding-top: 24px;
    padding-bottom: 56px;
}
.desc4-text h5{
    color: #ffffff;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0;
    font-weight: 300;
    margin: 0;
    padding-bottom: 24px;
    padding-top: 0px;
}
.desc4-text div{
    padding-bottom: 24px;
}
.desc5-content{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.desc5-boxes{
    max-width: 1280px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: #751da6;
    border: 2px solid #751da6;
}
.desc5-title{
    position: relative;
}
.desc5-icon-info{
    position: absolute;
    left: -40px;
    top: 70px;
    color: #ffffff;
    background-color: #751da6;
    font-size: x-large;
}
.desc5-content h5 {
    font-size: 24px;
    color: #ffffff;
    line-height: 36px;`
    text-align: left;
    margin: 0;
    font-weight: 300;
    padding-top: 64px;
    padding-bottom: 0px;
}
.desc5-text{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    padding-top: 24px;
    padding-bottom: 56px;
}
.desc5-text div{
    padding-bottom: 24px;
}
.desc6-content{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-color: #5c068c;
}
.desc6-boxes{
    max-width: 1280px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: #5c068c;
    border: 2px solid #751da6;
}
.desc6-content h5{
    font-size: 24px;
    color: #ffffff;
    line-height: 36px;
    text-align: left;
    margin: 0 0 0 104px;
    font-weight: 300;
    padding-top: 64px;
    padding-bottom: 40px;
}
.desc6-box{
    min-height: 640px;
    background: url('../img/desc6-anatomy.png') -124px center no-repeat;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.desc6-text{
    max-width: 1024px;
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    padding-top: 24px;
    padding-bottom: 56px;
    margin-right: auto;
    margin-left: auto;
}
.desc6-text div{
    padding-bottom: 24px;
}
.desc6-box-comp{
    width: 100%;
    float: right;
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: right;
    padding-top: 72px;
    position: relative;
}
.desc6-box-comp p{
    border-bottom: 1px solid #ffffff;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: right;
    float: right;
}
.desc6-comp1{
    width: 874px;
}
.desc6-comp2{
    width: 864px;
}
.desc6-comp3{
    width: 844px;
}
.desc6-comp4{
    width: 816px;
}
.desc6-comp5{
    width: 806px;
}
.desc6-comp6{
    width: 799px;
}
.desc6-comp7{
    width: 794px;
}
.desc6-comp8{
    width: 874px;
}
.desc6-comp9{
    width: 854px;
}
.desc6-index1, .desc6-index2, .desc6-index3, .desc6-index4, .desc6-index5, .desc6-index6, .desc6-index7, .desc6-index8, .desc6-index9{
    display: none;
}
.desc6-line1, .desc6-line2, .desc6-line3, .desc6-line4, .desc6-line5, .desc6-line6, .desc6-line7, .desc6-line8, .desc6-line9{
    display: none;
}
.desc6-index1-square, .desc6-index2-square, .desc6-index3-square, .desc6-index4-square, .desc6-index5-square, .desc6-index6-square, .desc6-index7-square, .desc6-index8-square, .desc6-index9-square{
    display: none;
}
.desc7-content{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.desc7-boxes{
    max-width: 1280px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: #751da6;
    border: 2px solid #751da6;
    padding-bottom: 24px;
}
.desc7-box{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.desc7-box h5{
    font-size: 24px;
    color: #ffffff;
    line-height: 36px;
    text-align: left;
    margin: 0;
    font-weight: 300;
    padding-top: 64px;
    padding-bottom: 40px;
}
.desc7-exp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.desc7-exp-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}
.desc7-img{
    position: relative;
}
.desc7-img img{
    position: relative;
    max-width: 500px;
    height: auto;
}
.desc7-index1-square{
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.desc7-index-number{
    font-size: 21px;
    font-weight: bold;
    color: #5c068c;
}
.desc7-exp-text{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
.desc7-text{
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    padding-bottom: 36px;
}
.desc8-content{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.desc8-boxes{
    max-width: 1280px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: #5c068c;
    border: 2px solid #751da6;
}
.desc8-img{
    width: 100%;
}
.desc8-img img{
    width: 100%;
    height: auto;
}
.desc8-box{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 64px;
 }
.desc8-box h5{
    font-size: 24px;
    color: #ffffff;
    line-height: 36px;
    text-align: left;
    margin: 0;
    font-weight: 300;
    padding-top: 24px;
    padding-bottom: 40px;
}
.desc8-text{
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    padding-bottom: 16px;
}
.desc8-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.desc8-list-left, .desc8-list-right{
    width: 50%;
}
.desc8-list ul li{
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    letter-spacing: 0.5px;
    padding-bottom: 8px;
    margin-left: -24px;
}
.desc8-list ul{
    list-style-image: url('../img/tick-b.png');
    margin-bottom: 0px;
}
@media only screen and (max-width:1200px){
    .desc1-box {
        max-width: 476px;
    }
    .desc2-box{
        margin-left: 60px;
        margin-right: 60px;
    }
    .desc2-left-text {
        max-width: 312px;
    }
    .desc2-right-text {
        max-width: 312px;
    }
    .step3{
        top: 0px;
    }
    .comp1-height{
        height: 142px;
    }
    .comp2-height{
        height: 192px;
    }
    .comp3-height{
        height: 240px;
    }
    .comp4-height{
        height: 288px;
    }
    .desc3-box{
        margin-right: 60px;
        margin-left: 60px;
    }
    .desc4-text {
        margin-left: 60px;
        padding-right: 60px;
    }
    .desc4-text-h5{
        margin-left: 60px;
        margin-right: 60px;
    }
    .desc5-text {
        margin-left: 60px;
        margin-right: 60px;
    }
    .desc6-content h5{
        margin-left: 60px;
    }
    .desc6-text{
        margin-left: 60px;
        margin-right: 60px;
    }
    .desc6-box-comp{
        margin-left: 60px;
        margin-right: 60px;
    }
    .desc7-box{
        margin-left: 60px;
        margin-right: 60px;
    }
    .desc8-box{
        margin-left: 60px;
        margin-right: 60px;
    }
    .desc6-comp1{
        width: calc(100% - 210px);
    }
    .desc6-comp2{
        width: calc(100% - 220px);
    }
    .desc6-comp3{
        width: calc(100% - 240px);
    }
    .desc6-comp4{
        width: calc(100% - 268px);
     }
    .desc6-comp5{
        width: calc(100% - 278px);
    }
    .desc6-comp6{
        width: calc(100% - 285px);
        }
    .desc6-comp7{
        width: calc(100% - 290px);
        }
    .desc6-comp8{
        width: calc(100% - 210px);
    }
    .desc6-comp9{
        width: calc(100% - 230px);
    }
    .desc7-img img{
        max-width: 424px;
    }
}

@media only screen and (max-width:1024px){
    .comp1-height{
        height: 120px;
    }
    .comp2-height{
        height: 170px;
    }
    .comp3-height{
        height: 218px;
    }
    .comp4-height{
        height: 268px;
    }
    .desc7-img img{
        max-width: 384px;
    }
    .desc7-exp-text{
        width: 380px;
    }
}

@media only screen and (max-width:960px){
    #desc1{
        background: url('../img/desc1-tlo.png') 15% -160px no-repeat;
    }
    .desc1-box{
        max-width: 1024px;
        margin-left: 60px;
        margin-right: 60px;
        padding-top: 640px;
    }
    .desc2-box3{
        border-right: 1px solid #ffffff;
    }
    .desc2-box3-left {
        width: 100%;
        border-right: 0px solid #ffffff;
        border-left: 1px solid #ffffff;
        padding-left: 24px;
        padding-right: 24px;
    }
    .desc2-text {
        text-align: left;
    }
    .desc2-box3-right {
        width: 100%;
        border-left: 1px solid #ffffff;
    }
    .desc2-left-text {
        max-width:100%;
        text-align: left;
        float: right;
        }
    .desc2-right-text {
        max-width: 100%;
        text-align: left;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 16px;
    }
    .phase3{
        padding-top: 16px;
    }
    .step1{
        left: -12px;
    }
    .step2{
        top:16px;

    }
    .step3{
        left:-12px;
        top: 16px;
    }
    .comp1-height{
        height: 120px;
    }
    .comp2-height{
        height: 170px;
    }
    .comp3-height{
        height: 218px;
    }
    .comp4-height{
        height: 268px;
    }
    .desc6-box{
        background: url('../img/desc6-anatomy.png') center center no-repeat;
    }
    .desc6-box{
        margin-left: 20px;
    }
    .desc6-index1, .desc6-index2, .desc6-index3, .desc6-index4, .desc6-index5, .desc6-index6, .desc6-index7, .desc6-index8, .desc6-index9{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0px;
    }
    .index-number {
        font-size: 21px;
        font-weight: bold;
        color: #5c068c;
    }
    .desc6-line1, .desc6-line2, .desc6-line3, .desc6-line4, .desc6-line5{
        height: 1px;
        background-color: #ffffff;
        position: absolute;
        right: 32px;
        display: block;
    }
    .desc6-line6, .desc6-line7, .desc6-line8, .desc6-line9{
        height: 1px;
        background-color: #ffffff;
        position: absolute;
        left: 132px;
        display: block;
    }
    .desc6-index1{
        top: 96px;
    }
    .desc6-index2{
        top: 148px;
    }
    .desc6-index3{
        top: 200px;
    }
    .desc6-index4{
        top: 252px;
    }
    .desc6-index5{
        top: 302px;
    }
    .desc6-index6{
        top: 354px;
        left: 102px;
    }
    .desc6-index7{
        top:406px;
        left: 102px;
    }
    .desc6-index8{
        top: 456px;
        left: 102px;
    }
    .desc6-index9{
        top: 506px;
        left: 102px;
    }
    .desc6-line1{
        width: calc(50% - 92px);
        top: 110px;
    }
    .desc6-line2{
        width: calc(50% - 102px);
        top: 164px;
    }
    .desc6-line3{
        width: calc(50% - 122px);
        top: 216px;
    }
    .desc6-line4{
        width: calc(50% - 150px);
        top: 268px;
    }
    .desc6-line5{
        width: calc(50% - 160px);
        top: 318px;
    }
    .desc6-line6{
        width: calc(50% + 2px);
        top: 370px;
    }
    .desc6-line7{
        width: calc(50% + 7px);
        top: 422px;
    }
    .desc6-line8{
        width: calc(50% - 76px);
        top: 472px;

    }
    .desc6-line9{
        width: calc(50% - 56px);
        top: 522px;

    }
    .desc6-comp1, .desc6-comp2, .desc6-comp3, .desc6-comp4, .desc6-comp5, .desc6-comp6, .desc6-comp7, .desc6-comp8, .desc6-comp9{
        position: absolute;
        width: calc(100% - 102px);
        left: 102px;

    }
    .desc6-text{
        padding-top: 384px;
    }
    .desc6-box-comp p{
        text-align: left;
        float: left;
    }
    .desc6-index1-square, .desc6-index2-square, .desc6-index3-square,.desc6-index4-square, .desc6-index5-square, .desc6-index6-square, .desc6-index7-square, .desc6-index8-square, .desc6-index9-square{
        width: 32px;
        height: 32px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0px;
    }
    .desc6-comp1{
        top: 600px;
    }
    .desc6-index1-square {
       top: 608px;
    }
    .desc6-comp2{
        top: 640px;
    }
    .desc6-index2-square {
        top: 648px;
    }
    .desc6-comp3{
        top: 680px;
    }
    .desc6-index3-square {
        top: 688px;
    }
    .desc6-comp4{
        top: 720px;
    }
    .desc6-index4-square {
        top: 728px;
    }
    .desc6-comp5{
        top: 760px;
    }
    .desc6-index5-square {
        top: 768px;
    }
    .desc6-comp6{
        top: 800px;
    }
    .desc6-index6-square {
        top: 808px;
    }
    .desc6-comp7{
        top: 840px;
    }
    .desc6-index7-square {
        top: 848px;
    }
    .desc6-comp8{
        top: 880px;
    }
    .desc6-index8-square {
        top: 888px;
    }
    .desc6-comp9{
        top: 920px;
    }
    .desc6-index9-square {
        top: 928px;
    }
    .desc7-exp{
        justify-content: center;
    }
    .desc7-exp-box {
        width: 100%;
    }
    .desc7-img {
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width:720px) {
    #desc1{
        background: url('../img/desc1-tlo.png') 25% -160px no-repeat;
    }
    .desc1-content{
        margin-left: 0px;
        margin-right: 0px;
    }
    .desc1-boxes{
        margin-left: 0px;
        margin-right: 0px;
    }
    .desc1-box {
        margin-left: 20px;
        margin-right: 20px;
    }
    .desc2-content {
        margin-left: 0px;
        margin-right: 0px;
    }
    .desc2-boxes {
        margin-left: 0px;
        margin-right: 0px;
    }
    .desc2-box {
        margin-left: 20px;
        margin-right: 20px;
    }
    .desc3-content{
        margin-left: 0px;
        margin-right: 0px;
    }
    .desc3-boxes{
        margin-left: 0px;
        margin-right: 0px;
    }
    .desc3-box{
        margin-right: 20px;
        margin-left: 20px;
    }
    .comp1-height{
        height: 110px;
    }
    .comp2-height{
        height: 160px;
    }
    .comp3-height{
        height: 208px;
    }
    .comp4-height{
        height: 258px;
    }
    .desc4-content{
        margin-left: 0px;
        margin-right: 0px;
    }
    .desc4-boxes{
        margin-left: 0px;
        margin-right: 0px;
    }
    .desc4-content h5{
        margin-left: 0px;
    }
    .desc4-text{
        margin-left: 20px;
        padding-right: 20px;
        padding-top: 0px;
    }
    .desc5-content{
        margin-left: 0px;
        margin-right: 0px;
    }
    .desc5-boxes{
        margin-left: 0px;
        margin-right: 0px;
    }
    .desc5-text{
        margin-right: 20px;
    }
    .desc5-content h5{
        margin-right: 20px;
    }
    .desc6-content{
        margin-left: 0px;
        margin-right: 0px;
    }
    .desc6-content h5{
        margin-left: 20px;
    }
    .desc6-boxes{
        margin-left: 0px;
        margin-right: 0px;
    }
    .desc6-box{
        margin-left: 20px;
        margin-right: 20px;
    }
    .desc6-text{
        margin-right: 20px;
        margin-left: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .desc6-content h5{
        margin-right: 20px;
    }
    .desc7-content {
        margin-left: 0px;
        margin-right: 0px;
    }
    .desc7-boxes {
        margin-left: 0px;
        margin-right: 0px;
    }
    .desc7-box {
        margin-left: 20px;
        margin-right: 20px;
    }
    .desc8-content {
        margin-left: 0px;
        margin-right: 0px;
    }
    .desc8-boxes {
        margin-left: 0px;
        margin-right: 0px;
    }
    .desc8-box {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media only screen and (max-width:600px){
    .desc3-content h5{
        padding-bottom: 24px;
    }
    .comp1-height{
        height: 90px;
    }
    .comp2-height{
        height: 140px;
    }
    .comp3-height{
        height: 188px;
    }
    .comp4-height{
        height: 238px;
    }
    .desc8-list-left, .desc8-list-right{
        width: 100%;
    }
    .desc6-box{
        margin-left: 20px;
        margin-right: 20px;
    }
    .desc6-box-comp{
        margin-left: 0px;
        margin-right: 0px;
    }
    .desc6-index1, .desc6-index2, .desc6-index3, .desc6-index4, .desc6-index5, .desc6-index6, .desc6-index7, .desc6-index8, .desc6-index9{
        right: 0px;
    }
    .index-number {
        font-size: 21px;
        font-weight: bold;
        color: #5c068c;
    }
    .desc6-line1, .desc6-line2, .desc6-line3, .desc6-line4, .desc6-line5{
        height: 1px;
        background-color: #ffffff;
        position: absolute;
        right: 32px;
        display: block;
    }
    .desc6-line6, .desc6-line7, .desc6-line8, .desc6-line9{
        height: 1px;
        background-color: #ffffff;
        position: absolute;
        left: 20px;
        display: block;
    }
    .desc6-index1{
        top: 96px;
    }
    .desc6-index2{
        top: 148px;
    }
    .desc6-index3{
        top: 200px;
    }
    .desc6-index4{
        top: 252px;
    }
    .desc6-index5{
        top: 302px;
    }
    .desc6-index6{
        top: 354px;
        left: 0px;
    }
    .desc6-index7{
        top:406px;
        left: 0px;
    }
    .desc6-index8{
        top: 456px;
        left: 0px;
    }
    .desc6-index9{
        top: 506px;
        left: 0px;
    }
    .desc6-line1{
        width: calc(50% - 32px);
        top: 110px;
    }
    .desc6-line2{
        width: calc(50% - 42px);
        top: 164px;
    }
    .desc6-line3{
        width: calc(50% - 62px);
        top: 216px;
    }
    .desc6-line4{
        width: calc(50% - 90px);
        top: 268px;
    }
    .desc6-line5{
        width: calc(50% - 100px);
        top: 318px;
    }
    .desc6-line6{
        width: calc(50% + 54px);
        top: 370px;
    }
    .desc6-line7{
        width: calc(50% + 59px);
        top: 422px;
    }
    .desc6-line8{
        width: calc(50% - 24px);
        top: 472px;

    }
    .desc6-line9{
        width: calc(50% - 4px);
        top: 522px;

    }
    .desc6-comp1, .desc6-comp2, .desc6-comp3, .desc6-comp4, .desc6-comp5, .desc6-comp6, .desc6-comp7, .desc6-comp8, .desc6-comp9{
        position: absolute;
        width: calc(100% - 0px);
        left: 0px;

    }
    .desc6-text{
        padding-top: 384px;
    }
    .desc6-box-comp p{
        text-align: left;
        float: left;
    }
    .desc6-index1-square, .desc6-index2-square, .desc6-index3-square,.desc6-index4-square, .desc6-index5-square, .desc6-index6-square, .desc6-index7-square, .desc6-index8-square, .desc6-index9-square{
        right: 0px;
    }
}
@media only screen and (max-width:480px){
    #desc1{
        background: url('../img/desc1-tlo.png') 28% -140px no-repeat;
    }
    .desc1-box h3{
        color: #ffffff;
        font-size: 34px;
        line-height: 48px;
        letter-spacing: 0.25px;
        }
    .desc2-left-text {
        max-width: 100%;
    }
    .desc2-right-text {
        max-width: 100%;
    }
    .desc3-box-composition{
        font-size: 12px;
        line-height: 16px;
    }
    .comp1-height{
        height: 77px;
        bottom: 125px;
    }
    .comp2-height{
        height: 120px;
        bottom: 82px;
    }
    .comp3-height{
        height: 160px;
        bottom: 41px;
    }
    .comp4-height{
        height: 206px;
     }
    .desc6-box-comp{
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 10px;
    }
    .desc6-box-comp p{
        padding-bottom: 12px;
    }
    .desc6-index1,.desc6-index2,.desc6-index3,.desc6-index4, .desc6-index5{
       right: -15px;
    }
    .desc6-index6, .desc6-index7, .desc6-index8, .desc6-index9{
       left: -15px;
    }
    .desc6-line1, .desc6-line2, .desc6-line3, .desc6-line4, .desc6-line5 {
        right: 17px;
    }
    .desc6-line6, .desc6-line7, .desc6-line8, .desc6-line9{
        left: 17px;
    }
    .desc6-line1{
        width: calc(50% - 13px);
    }
    .desc6-line2{
        width: calc(50% - 23px);
    }
    .desc6-line3{
        width: calc(50% - 48px);
    }
    .desc6-line4{
        width: calc(50% - 73px);
    }
    .desc6-line5{
        width: calc(50% - 83px);
        top: 318px;
    }
    .desc6-line6{
        width: calc(50% + 57px);
    }
    .desc6-line7{
        width: calc(50% + 62px);
    }
    .desc6-line8{
        width: calc(50% - 23px);
    }
    .desc6-line9{
        width: calc(50% + 0px);
    }
    .desc7-img img{
        max-width: 320px;
    }
    .desc7-exp-text{
    }
    @media only screen and (max-width: 360px){

}